<h1 class="mb-3 mt-3">Let's add a deliousus recipe <%= @user %></h1>
<%= render 'partials/flash' %>

<%= form_with(model: @recipe, url: '/recipies/create', scope: :data) do |f| %>
  <div class="food_form form-group mb-3">
    <%= f.text_field :name, placeholder: 'Recipe\'s Name', class: "form-control" %> <br><br>

    <%= f.text_field :preparation, placeholder: "Preparation time", class: "form-control" %> <br><br>

    <%= f.text_field :cooking, placeholder: "Cooking time", class: "form-control" %> <br><br>

    <%= f.text_area :description, size: '50x10', placeholder: "Recipe's instructions", class: "form-control"  %> <br><br>

    <%= f.label(:public, 'Do you wanna share your recipe with others?') %>
    <%= f.check_box :public, class: "form-check-input" %> <br><br>
    <%= f.submit 'Save Recipe', class: "btn btn-primary -5" %>
  </div>
<% end %>