<h1>Let's add a deliousus recipe <%= @user %> </h1>
<%= render 'partials/flash' %>

<%= form_with(model: @recipe, url: '/recipies/create', scope: :data) do |f| %>
  <div>
    <h2>Recipe: </h2>
    <%= f.label(:name, "Recipe's name") %>
    <%= f.text_field :name %> <br><br>

    <%= f.label(:preparation, "Preparation time") %>
    <%= f.text_field :preparation %> <br><br>

    <%= f.label(:cooking, "Cooking time") %>
    <%= f.text_field :cooking %> <br><br>

    <%= f.label(:description, "Recipe's instructions") %>
    <%= f.text_area :description, size: '50x10'  %> <br><br>

    <%= f.label(:public, 'Do you wanna share your recipe with others?') %>
    <%= f.check_box :public %> <br><br>
  </div>
  <%= f.submit 'Save Recipe' %>
<% end %>