<h2><%= @inventory.name %></h2>

<%= form_with(model: @populate, url: "/inventory/#{@inventory.id}", scope: :data) do |f| %>
  <p>Let's add a food to our inventory!! =D</p>

  <%= f.label(:food, 'Food') %>
  <%= f.select :food, @foods.map { |food| [food.name, food.id] }, {}, class: "form-control" %> <br>
  
  <%= f.label(:quantity, 'How many we have?') %>
  <%= f.number_field :quantity, placeholder: 'Only Numbers', class: "form-control" %> <br>
  
  <%= f.submit 'Save Food', class: "btn btn-primary" %> <br>
<% end %>
<%= render 'partials/flash' %>
<h2>Stock</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_foods.each_with_index do |food, index| %>
      <tr>
        <th scope="row"><%= index += 1 %></th>
        <td><%= food.name %></td>
        <td><%= food.inventory_foods.first.quantity %></td>
        <td><%= button_to 'X', "/inventory/#{@inventory.id}/#{food.inventory_foods.first.id}/destroy", class: "btn btn-danger btn-sm" %></td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>